{% extends 'base.html.twig' %}

{% block title %}Disinfections index{% endblock %}

{% block body %}
    <h1>Disinfections index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>DisinfectionType</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for disinfection in disinfections %}
            <tr>
                <td>{{ disinfection.id }}</td>
                <td>{{ disinfection.date ? disinfection.date|date('Y-m-d') : '' }}</td>
                <td>{{ disinfection.disinfectionType }}</td>
                <td>
                    <a href="{{ path('app_disinfections_show', {'id': disinfection.id}) }}">show</a>
                    <a href="{{ path('app_disinfections_edit', {'id': disinfection.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_disinfections_new') }}">Create new</a>
{% endblock %}
